.overline {
  @apply w-[90px] h-[3px] bg-white;

  @media screen(lg) {
    height: 5px;
  }
}

.accent {
  mix-blend-mode: saturation;

  @apply w-full overflow-x-hidden absolute -z-10;
}

.accent > div {
  background: radial-gradient(
    theme("colors.lightGunmetal"),
    theme("colors.lightGunmetal"),
    theme("colors.darkGunmetal"),
    theme("colors.darkGunmetal")
  );

  @apply w-[650px] h-[650px];

  @media screen(lg) {
    width: 1300px;
    height: 1300px;
  }
}

.circle {
  @apply w-[48px] h-[48px] bg-lavenderGray rounded-full absolute;

  @media screen(lg) {
    width: 110px;
    height: 110px;
  }
}

.values-statue {
  transform: scale(1.2) rotate(-35deg);
}

.orbit {
  animation: hide linear infinite;
  transform-style: preserve-3d;
  z-index: 1;

  @apply absolute inset-0;
}

.planet {
  animation: move linear infinite;

  @apply rounded-full absolute;
}

.orbit1 {
  animation-duration: 50s;
}

.orbit2 {
  animation-duration: 35s;
  animation-delay: -15s;
}

.orbit3 {
  animation-duration: 20s;
  animation-delay: -10s;
}

.orbit4 {
  animation-duration: 10s;
}

.planet1 {
  animation-duration: 50s;
  offset-path: ellipse(42.5% 13.25% at 55.5% 42.5%);

  @apply w-[16px] h-[16px] bg-redOrange;
}

.planet2 {
  animation-duration: 35s;
  animation-delay: -15s;

  offset-path: ellipse(36.25% 11.25% at 55.5% 42.5%);

  @apply w-[14px] h-[14px] bg-heatWave;
}

.planet3 {
  animation-duration: 20s;
  animation-delay: -10s;

  offset-path: ellipse(30% 9% at 55.5% 42.5%);

  @apply w-[10px] h-[10px] bg-sunnyDay;
}

.planet4 {
  animation-duration: 10s;

  offset-path: ellipse(24.25% 7% at 55.5% 42.5%);

  @apply w-[8px] h-[8px] bg-strawCoop;
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes hide {
  0% {
    z-index: 15;
  }
  50% {
    z-index: 15;
  }
  51% {
    z-index: 1;
  }
  100% {
    z-index: 1;
  }
}
