.header {
  background: linear-gradient(
    theme(colors.starlingFeather),
    theme(colors.starlingFeather / 0%)
  );

  @apply flex flex-row fixed h-[100px] items-center justify-between px-4 inset-0;

  @media screen(lg) {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

.menu {
  @apply flex flex-row gap-2 items-center cursor-pointer;

  @media screen(lg) {
    display: none;
  }
}

.menu p {
  font-family: "Figree", sans-serif;
  font-weight: 300;
  font-size: 0.63rem;
  letter-spacing: 0.1rem;

  @apply uppercase;
}
