#header {
  transition: top 0.2s ease-in-out;

  @apply flex flex-row fixed w-svw h-[100px] items-center justify-between px-4 inset-0;

  @media screen(lg) {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

#header .background {
  background: linear-gradient(
    to top,
    theme(colors.starlingFeather / 0%),
    theme(colors.starlingFeather / 50%) 25%,
    theme(colors.starlingFeather / 80%) 75%
  );
  backdrop-filter: blur(4px);
  mask-image: linear-gradient(
    to top,
    transparent,
    theme(colors.starlingFeather / 25%) 25%,
    theme(colors.starlingFeather) 80%
  );

  @apply absolute inset-0 -z-50;
}

.menu {
  @apply flex flex-row gap-2 items-center cursor-pointer;

  @media screen(lg) {
    display: none;
  }
}

.menu p {
  font-family: "Figree", sans-serif;
  font-weight: 300;
  font-size: 0.63rem;
  letter-spacing: 0.1rem;

  @apply uppercase;
}
